*.orig
*.pyc
*.dmp
*.sql
*.zip
/.settings
/.installed.cfg
/.idea/*
/.vscode/*
/venv/*
/python/*
/bin/*
/eggs/*
/parts/*
/media/*
/node_modules/*
.sublime-gulp.cache
/media.tar
package-lock.json
/xranking/templates/service/500.html
/xranking/templates/service/404.html
/xranking/templates/service/robots.txt
